### 1. Write the output of the following

k=[‘a’,’b’,’c’,’d’,’e’]

print(k[-1:-7:-1])

In [1]:
k = ['a', 'b', 'c', 'd', 'e']
print(k[-1:-7:-1])

['e', 'd', 'c', 'b', 'a']

### 2. Reverse a list using Python
list1 = [100, 200, 300, 400, 500]

In [2]:
list1 = [100, 200, 300, 400, 500]
reversed_list = reversed(list1)
print(list(reversed_list))

[500, 400, 300, 200, 100]

### 3. Given two numbers, write a python code to find the maximum of these two numbers.
Sample input: a=2, b=4

In [7]:
a = 2
b = 4

if a > b:
 maximum = a
else:
  maximum = b

print(maximum)

4

### 4. Write a python program to find the square of 5.

In [8]:
x = 5
x_squared = x * x
print(x_squared)

25

### 5. Write a python program to find the sum of all items in a dictionary
Input : {‘a’: 100, ‘b’:200, ‘c’:300}

In [9]:
my_dict = {'a': 100, 'b': 200, 'c': 300}
dict_sum = 0
for key, value in my_dict.items():
  dict_sum += value
print(dict_sum)

600

### 6. Write a python program to print the current year, month and day.

In [10]:
import datetime
now = datetime.datetime.now()
print(f"The current date is {now.year}-{now.month}-{now.day}")

The current date is 2022-12-12

# 7. Write a Python program to construct the following pattern, using a nested for loop.

*
**
***
****
***
**
*

In [11]:
num_rows = 9
for i in range(num_rows):
  if i < num_rows // 2:
    print("*" * (i + 1))
  else:
    print("*" * (num_rows - i))

*
**
***
****
*****
****
***
**
*

### 8. Write a python function to calculate the factorial of a number (a non negative integer). The function accepts the number as an argument.
Sample input: 3, Sample output: 6

In [13]:
def factorial(n: int) -> int:
  if n == 0 or n == 1:
    return 1
  result = 1
  for i in range(1, n+1):
    result *= i
  return result
result = factorial(3)
print(result)

6

### 9. Display all duplicate items from a list given:
10, 20, 60, 30, 20, 40, 30, 60, 70, 80

In [15]:
numbers = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicates = set()
for num in numbers:
    if numbers.count(num) > 1:
        duplicates.add(num)
print(duplicates)

{20, 60, 30}

###  10. Write a program to accept a string from the user and display characters that are present at an even index number.

In [17]:
string = input("Enter a string: ")
even_chars = ""
for i, char in enumerate(string):
    if i % 2 == 0:
     even_chars += char
print(even_chars)

Enter a string: NIKHILKUMAR
NKIKMR

### 11. Modify the element of a nested list inside the following list:
Sample input : list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

Change the element 35 to 3500

In [18]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
for i in range(len(list1)):
  if isinstance(list1[i], list):
    for j in range(len(list1[i])):
      if isinstance(list1[i][j], list):
        for k in range(len(list1[i][j])):
          if isinstance(list1[i][j][k], list):
            for l in range(len(list1[i][j][k])):
              if list1[i][j][k][l] == 35:
                list1[i][j][k][l] = 3500
                break

print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]